.env
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.postgresql
db.postgresql-journal
media

# General MacOS files to ignore
.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
